
<h2>Hóa đơn</nav></h2>
<form asp-action="BillIndex">
    <label>Tên hàng:</label>
    <input type="text" name="TenHang" />
    <label>Sô lượng:</label>
    <input type="text" name="SoLuong" />
    <label>Giá Bán:</label>
    <input type="text" name="GiaBan" />
    <button type="submit">Thành Tiền</button>
</form>
<p>@ViewBag.Message</p>
