<h2>Tinh Diem trung binh</h2>
<form asp-action="SubjectIndex">
    <label>Họ và Tên:</label>
    <input type="text" name="Name" />
    <label>Môn học:</nav></label>
    <input type="text" name="Subject" />
    <label>Diem A:</label>
    <input type="text" name="DiemA" />
    <label>Diem B:</label>
    <input type="text" name="DiemB" />
    <label>Diem C</label>
    <input type="text" name="DiemC" />
    <button type="submit">SubjectScore</button>
</form>
<p>@ViewBag.Message</p>