<h1>Dữ liệu từ Controller gửi về là: @ViewBag.infoPerson</h1>
<form asp-action="Index">
    <label >Nhập PersonID</p></label>
    <input type="text" Name="PersonId">
    <label >Nhập họ tên:</label> 
    <Input type="text" name="FullName"></Input>
    <label >Nhập địa chỉ:</label>
    <input type="text" Name="Address">
    <input type="submit" name="Gửi dữ liệu">   
</form>