@using Microsoft.AspNetCore.Identity
@using PTPMQLMvc.Models.ViewModel

@model IEnumerable<UserWithRoleVM>
<table class=" table">
    <thead>
        <tr>
            <th>UserName</th>
            <th>Roles</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var userWithRoles in Model)
        {
            <tr>
                <td>@userWithRoles.User.UserName</td>
                <td>
                    @foreach (var role in userWithRoles.Roles)
                    {
                        <span>@role,</span>
                        <br/>

                    }
                </td>
                <td>
                     <a asp-action="Account" asp-action="AssignRole" asp-route-userId="@userWithRoles.User.Id">Assign Role</a>
                     <a asp-action="Account" asp-action="AddClaim" asp-route-userId="@userWithRoles.User.Id">Add Claim</a>
                </td>
            </tr>
        }
    </tbody>
</table>    